
<section class="events-area bg-fffaf3 pt-100 pb-70">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Toán</li>
            </ul>
        </div>
        <div class="section-title">
            <span class="sub-title">MÔN TOÁN</span>
            <h3>Lớp học Live Stream</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="live-detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/16478/16478.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">25.000 đ</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Kiên</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Toán lớp 9: Nâng cao kiến thức cơ bản</a></h3>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> Bắt đầu lúc 20/10/2010</li>
                            <li><i class='flaticon-people'></i> 145</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/16478/16478.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">25.000 đ</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Kiên</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Toán lớp 9: Nâng cao kiến thức cơ bản</a></h3>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> Bắt đầu lúc 20/10/2010</li>
                            <li><i class='flaticon-people'></i> 145</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/16478/16478.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">25.000 đ</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Kiên</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Toán lớp 9: Nâng cao kiến thức cơ bản</a></h3>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> Bắt đầu lúc 20/10/2010</li>
                            <li><i class='flaticon-people'></i> 145</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/16478/16478.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">25.000 đ</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Kiên</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Toán lớp 9: Nâng cao kiến thức cơ bản</a></h3>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> Bắt đầu lúc 20/10/2010</li>
                            <li><i class='flaticon-people'></i> 145</li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<section class="courses-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Video bài giảng</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
        </div>
        <div class="shorting-menu shorting-menu-style-two">
            <button class="filter text-uppercase" data-filter="all">Tất cả</button>
            <button class="filter text-uppercase" data-filter=".happening">Lớp 9</button>
            <button class="filter text-uppercase" data-filter=".upcoming">Lớp 10</button>
            <button class="filter text-uppercase" data-filter=".expired">Lớp 11</button>
            <button class="filter text-uppercase" data-filter=".expired">Lớp 12</button>
            <button class="filter text-uppercase" data-filter=".expired">Thi THPT</button>
            <button class="filter text-uppercase" data-filter=".expired">Thi Đại học</button>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/36777/36777.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">250.000 đ</div>
                    </div>
                    
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Nguyễn Thanh Long</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p> <i class='flaticon-agenda'></i> Độ khó: Cơ bản</p>
                        <div class="rating d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <div class="rating-count ml-2">
                                <span>4.0 (1 đánh giá)</span>
                            </div>
                        </div>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Bài học</li>
                            <li><i class='flaticon-people'></i> 10 lượt mua</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/36777/36777.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">250.000 đ</div>
                    </div>
                    
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Nguyễn Thanh Long</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p> <i class='flaticon-agenda'></i> Độ khó: Cơ bản</p>
                        <div class="rating d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <div class="rating-count ml-2">
                                <span>4.0 (1 đánh giá)</span>
                            </div>
                        </div>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Bài học</li>
                            <li><i class='flaticon-people'></i> 10 lượt mua</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/36777/36777.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">250.000 đ</div>
                    </div>
                    
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Nguyễn Thanh Long</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p> <i class='flaticon-agenda'></i> Độ khó: Cơ bản</p>
                        <div class="rating d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <div class="rating-count ml-2">
                                <span>4.0 (1 đánh giá)</span>
                            </div>
                        </div>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Bài học</li>
                            <li><i class='flaticon-people'></i> 10 lượt mua</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/36777/36777.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">250.000 đ</div>
                    </div>
                    
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Nguyễn Thanh Long</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p> <i class='flaticon-agenda'></i> Độ khó: Cơ bản</p>
                        <div class="rating d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <div class="rating-count ml-2">
                                <span>4.0 (1 đánh giá)</span>
                            </div>
                        </div>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Bài học</li>
                            <li><i class='flaticon-people'></i> 10 lượt mua</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/36777/36777.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">250.000 đ</div>
                    </div>
                    
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Nguyễn Thanh Long</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p> <i class='flaticon-agenda'></i> Độ khó: Cơ bản</p>
                        <div class="rating d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <div class="rating-count ml-2">
                                <span>4.0 (1 đánh giá)</span>
                            </div>
                        </div>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Bài học</li>
                            <li><i class='flaticon-people'></i> 10 lượt mua</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="detail/course-abc" class="d-block image">
                            <img src="https://media.vinastudy.vn/thumbnail_khoahoc/36777/36777.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">250.000 đ</div>
                    </div>
                    
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Thầy Nguyễn Thanh Long</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p> <i class='flaticon-agenda'></i> Độ khó: Cơ bản</p>
                        <div class="rating d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <div class="rating-count ml-2">
                                <span>4.0 (1 đánh giá)</span>
                            </div>
                        </div>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Bài học</li>
                            <li><i class='flaticon-people'></i> 10 lượt mua</li>
                        </ul>
                    </div>
                </div>
            </div>

          


            <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/courses-1" class="prev page-numbers"><i class='bx bx-chevrons-left'></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/courses-1" class="page-numbers">2</a>
                    <a routerLink="/courses-1" class="page-numbers">3</a>
                    <a routerLink="/courses-1" class="page-numbers">4</a>
                    <a routerLink="/courses-1" class="next page-numbers"><i class='bx bx-chevrons-right'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
