<section class="main-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content">
                    <h1>Học chủ động với nền tảng giáo dục công nghệ Odemy O2O</h1>
                    <p>Nền tảng học tập giúp học sinh cả nước tiếp xúc với các bài giảng chất lượng cao từ các giảng viên có thành tích vượt trội, từ các đại học nhóm đầu, trường chuyên, lớp chọn!</p>
                    <a routerLink="/profile-authentication" class="default-btn"><i class="flaticon-user"></i>Đăng ký miễn phí<span></span></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="main-banner-courses-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <a routerLink="/single-courses-1" class="d-block image">
                                        <img src="assets/img/courses/img4.jpg" alt="image">
                                    </a>
                                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                                    <div class="price shadow">$39</div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="assets/img/user6.jpg" class="rounded-circle" alt="image">
                                        <span>Alex Morgan</span>
                                    </div>
                                    <h3><a routerLink="/single-courses-1">Python for Finance: Fundamentals & Data Analytics</a></h3>
                                    <p>Lorem ipsum dolor sit amet, constetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                        <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                                        <li><i class='flaticon-people'></i> 145 Students</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <a routerLink="/single-courses-1" class="d-block image">
                                        <img src="assets/img/courses/img5.jpg" alt="image">
                                    </a>
                                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                                    <div class="price shadow">$49</div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="assets/img/user5.jpg" class="rounded-circle" alt="image">
                                        <span>Sarah Taylor</span>
                                    </div>
                                    <h3><a routerLink="/single-courses-1">Machine Learning A-Z™: Hands-On Python & R In Data Science</a></h3>
                                    <p>Lorem ipsum dolor sit amet, constetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                        <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                                        <li><i class='flaticon-people'></i> 100 Students</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="banner-shape1" data-speed="0.06" data-revert="true"><img src="assets/img/banner-shape1.png" alt="image"></div>
                    <div class="banner-shape2" data-speed="0.06" data-revert="true"><img src="assets/img/banner-shape2.png" alt="image"></div>
                    <div class="banner-shape3" data-speed="0.06" data-revert="true"><img src="assets/img/banner-shape3.png" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partner-area pt-100 pb-70 border-bottom">
    <div class="container">
        <!-- <app-partner></app-partner> -->
    </div>
</section>

<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Lớp học nâng cao</span>
            <h2>Cơ hội được dìu dắt bởi những giáo viên chuyên  giỏi nhất dìu dắt .Giúp bạn tự tin và dẫn đầu trong lớp học thường ngày​</h2>
            <p>Tìm kiếm không gian riêng và sự lựa chọn những khóa học giúp học viên chủ động và bổ sung kiến thức. Học chuyên Online</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-brain-process"></i>
                    </div>
                    <h3>Đăng ký lớp chuyên trực tuyến</h3>
                    <p>Học lớp chuyên online ngay tại nhà của bạn</p>
                    <a routerLink="/profile-authentication" class="link-btn">Bắt đầu ngay!</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-computer"></i>
                    </div>
                    <h3>Luyện thi tại ngay đại học mơ ước</h3>
                    <p>Luyện thi với giảng viên tại chính đại học mơ ước</p>
                    <a routerLink="/profile-authentication" class="link-btn">Bắt đầu ngay!</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-shield-1"></i>
                    </div>
                    <h3>Phương pháp học tập chủ động</h3>
                    <p>Theo dõi lịch sử học tập chủ động với chúng tôi</p>
                    <a routerLink="/profile-authentication" class="link-btn">Bắt đầu ngay!</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-world"></i>
                    </div>
                    <h3>Lớp học gia sư trực tuyến</h3>
                    <p>Phát triển bài toán theo khóa học với Gia sư</p>
                    <a routerLink="/profile-authentication" class="link-btn">Bắt đầu ngay!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events-area bg-fffaf3 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Events</span>
            <h2>Lịch học Livestream</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-events-box">
                    <div class="image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/events/img1.jpg" alt="image">
                        </a>
                        <span class="date">Wed, 20 May, 2020</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/single-events">Global Conference on Business Management</a></h3>
                        <span class="location"><i class="bx bx-map"></i>Vancover, Canada</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-events-box">
                    <div class="image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/events/img2.jpg" alt="image">
                        </a>
                        <span class="date">Tue, 19 May, 2020</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/single-events">International Conference on Teacher Education</a></h3>
                        <span class="location"><i class="bx bx-map"></i>Sydney, Australia</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-events-box">
                    <div class="image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/events/img3.jpg" alt="image">
                        </a>
                        <span class="date">Mon, 18 May, 2020</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/single-events">International Conference on Special Needs Education</a></h3>
                        <span class="location"><i class="bx bx-map"></i>Istanbul, Turkey</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-events-box">
                    <div class="image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/events/img4.jpg" alt="image">
                        </a>
                        <span class="date">Sun, 17 May, 2020</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/single-events">International Conference on Literacy Teaching</a></h3>
                        <span class="location"><i class="bx bx-map"></i>Athens, Greece</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-events-box">
                    <div class="image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/events/img5.jpg" alt="image">
                        </a>
                        <span class="date">Sat, 16 May, 2020</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/single-events">International Conference on Educational Administration</a></h3>
                        <span class="location"><i class="bx bx-map"></i>Rome, Italy</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-events-box">
                    <div class="image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/events/img6.jpg" alt="image">
                        </a>
                        <span class="date">Fri, 15 May, 2020</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/single-events">International Conference on Education and Pedagogy</a></h3>
                        <span class="location"><i class="bx bx-map"></i>Athens, Greece</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-content">
            <span class="sub-title">ĐĂNG KÝ NGAY</span>
            <h2>Đăng ký tư vấn và nhận các khóa học miễn phí</h2>
            <p>Đăng ký nhận các chương trình ưu đãi và hàng trăm tài liệu và bài học miễn phí</p>
            <form class="newsletter-form">
                <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                <button type="submit" class="default-btn"><i class="flaticon-user"></i>Đăng ký<span></span></button>
            </form>
        </div>
    </div>

    <!-- <div class="shape4" data-speed="0.06" data-revert="true"><img src="assets/img/shape4.png" alt="image"></div>
    <div class="shape13" data-speed="0.06" data-revert="true"><img src="assets/img/shape12.png" alt="image"></div>
    <div class="shape14" data-speed="0.06" data-revert="true"><img src="assets/img/shape13.png" alt="image"></div>
    <div class="shape15" data-speed="0.06" data-revert="true"><img src="assets/img/shape14.png" alt="image"></div> -->
</section>


<section class="courses-area bg-f5f7fa pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Khóa học chuyên đề và luyện thi Đại học</span> -->
            <h2>Khóa học chuyên đề và luyện thi Đại học</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="shorting-menu">
            <button class="filter" data-filter="all">Tất cả</button>
            <button class="filter" data-filter=".development">Luyện thi Đại học</button>
            <button class="filter" data-filter=".business">Luyện thi cuối cấp</button>
            <button class="filter" data-filter=".itsoftware">Luyện thi Chuyên - HSG</button>
        </div>

        <div class="shorting">
            <div class="row">
                <div class="col-lg-4 col-md-6 mix development business">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img12.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$39</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Agile Crash Course: Agile Project Management</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (1 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix business design">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img13.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$59</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Vue JS 2 - The Complete Guide (incl. Vue Router & Vuex)</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (2 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix itsoftware development">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img14.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$69</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">The Python Bible™ | Everything You Need to Program in Python</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (3 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix design animation">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img15.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$79</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Mathematical Foundation For Machine Learning and AI</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (4 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix animation illustration">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img16.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$89</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">The Ultimate Drawing Course - Beginner to Advanced</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (5 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix illustration itsoftware">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img17.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$99</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">PyTorch: Deep Learning and Artificial Intelligence</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (6 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div>
</section>

<section class="courses-area bg-f5f7fa pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Khóa học chuyên đề và luyện thi Đại học</span> -->
            <h2>Khóa học kiến thức nền tảng</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="shorting-menu">
            <button class="filter" data-filter="all">Tất cả</button>
            <button class="filter" data-filter=".development">Lớp 9</button>
            <button class="filter" data-filter=".business">Lớp 10</button>
            <button class="filter" data-filter=".itsoftware">Lớp 11</button>
            <button class="filter" data-filter=".itsoftware">Lớp 12</button>
        </div>

        <div class="shorting">
            <div class="row">
                <div class="col-lg-4 col-md-6 mix development business">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img12.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$39</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Agile Crash Course: Agile Project Management</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (1 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix business design">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img13.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$59</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Vue JS 2 - The Complete Guide (incl. Vue Router & Vuex)</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (2 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix itsoftware development">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img14.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$69</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">The Python Bible™ | Everything You Need to Program in Python</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (3 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix design animation">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img15.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$79</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Mathematical Foundation For Machine Learning and AI</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (4 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix animation illustration">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img16.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$89</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">The Ultimate Drawing Course - Beginner to Advanced</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (5 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix illustration itsoftware">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img17.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$99</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">PyTorch: Deep Learning and Artificial Intelligence</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (6 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div>
</section>

<section class="courses-area bg-f5f7fa pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Khóa học chuyên đề và luyện thi Đại học</span> -->
            <h2>Khóa học kiến thức nâng cao</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="shorting-menu">
            <button class="filter" data-filter="all">Tất cả</button>
            <button class="filter" data-filter=".development">Lớp 9</button>
            <button class="filter" data-filter=".business">Lớp 10</button>
            <button class="filter" data-filter=".itsoftware">Lớp 11</button>
            <button class="filter" data-filter=".itsoftware">Lớp 12</button>
        </div>

        <div class="shorting">
            <div class="row">
                <div class="col-lg-4 col-md-6 mix development business">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img12.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$39</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Agile Crash Course: Agile Project Management</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (1 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix business design">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img13.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$59</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Vue JS 2 - The Complete Guide (incl. Vue Router & Vuex)</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (2 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix itsoftware development">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img14.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$69</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">The Python Bible™ | Everything You Need to Program in Python</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (3 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix design animation">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img15.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$79</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">Mathematical Foundation For Machine Learning and AI</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (4 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix animation illustration">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img16.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$89</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">The Ultimate Drawing Course - Beginner to Advanced</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (5 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix illustration itsoftware">
                    <div class="single-courses-item-box">
                        <div class="courses-image">
                            <a routerLink="/single-courses-2" class="d-block image">
                                <img src="assets/img/courses/img17.jpg" alt="image">
                            </a>
                            <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                            <div class="price shadow">$99</div>
                        </div>
                        <div class="courses-content">
                            <h3><a routerLink="/single-courses-2">PyTorch: Deep Learning and Artificial Intelligence</a></h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <div class="rating-total">
                                    5.0 (6 rating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div>
</section>

<section class="categories-area ptb-100">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Categories</span> -->
            <h2>Thống kê các chủ đề</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img1.jpg" alt="image">
                    <div class="content">
                        <h3>Môn toán học</h3>
                        <span>10 Khóa</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img2.jpg" alt="image">
                    <div class="content">
                        <h3>Môn Vật lý</h3>
                        <span>20 Bài giảng</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img3.jpg" alt="image">
                    <div class="content">
                        <h3>Môn hóa</h3>
                        <span>15 Khóa</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img4.jpg" alt="image">
                    <div class="content">
                        <h3>Môn Sinh</h3>
                        <span>11 Khóa</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img5.jpg" alt="image">
                    <div class="content">
                        <h3>Môn tiếng anh</h3>
                        <span>10 Courses</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img6.jpg" alt="image">
                    <div class="content">
                        <h3>Photo & Flim</h3>
                        <span>12 Courses</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img7.jpg" alt="image">
                    <div class="content">
                        <h3>Animation</h3>
                        <span>05 Courses</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-categories-box">
                    <img src="assets/img/categories/img8.jpg" alt="image">
                    <div class="content">
                        <h3>Writing</h3>
                        <span>20 Courses</span>
                    </div>
                    <a routerLink="/courses-1" class="link-btn"></a>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="categories-btn-box">
                    <a routerLink="/categories" class="default-btn"><i class="flaticon-user"></i>Xem tất cả<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">News</span> -->
            <h2>Thư viện học liệu mới nhất</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="blog-slides owl-carousel owl-theme">
            <div class="single-blog-post-box">
                <div class="post-content">
                    <a routerLink="/blog-4" class="category">Education</a>
                    <h3><a routerLink="/single-blog-1">University Admissions Could Face Emergency Controls</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                                <span>Alex Morgan</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 30, 2020</li>
                    </ul>
                </div>
            </div>

            <div class="single-blog-post-box">
                <div class="post-content">
                    <a routerLink="/blog-4" class="category">Online</a>
                    <h3><a routerLink="/single-blog-1">Online Learning Can Prepare Students For A Fast</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                                <span>Sarah Taylor</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 29, 2020</li>
                    </ul>
                </div>
            </div>

            <div class="single-blog-post-box">
                <div class="post-content">
                    <a routerLink="/blog-4" class="category">Learning</a>
                    <h3><a routerLink="/single-blog-1">As Learning Moves Online, Trigger Warnings Must Too</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                                <span>David Warner</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 28, 2020</li>
                    </ul>
                </div>
            </div>

            <div class="single-blog-post-box">
                <div class="post-content">
                    <a routerLink="/blog-4" class="category">Learning</a>
                    <h3><a routerLink="/single-blog-1">As Learning Moves Online, Trigger Warnings Must Too</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                                <span>David Warner</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 28, 2020</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="blog-post-info">
            <p>Get into details now?​ <a routerLink="/blog-4">View all posts</a></p>
        </div>
    </div>
</section>


