<div class="navbar-area">
    <div class="odemy-responsive-nav">
        <div class="container">
            <div class="odemy-responsive-menu">
                <div class="logo">
                    <a routerLink="/"><img  src="assets/images/logo.svg" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="odemy-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img width="150px" src="assets/images/logo.svg" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu">
                    <form class="search-box">
                        <input type="text" class="input-search" placeholder="Search for anything">
                        <button type="submit"><i class="flaticon-search"></i></button>
                    </form>

                    <ul class="navbar-nav">

                        <li class="nav-item megamenu"><a href="javascript:void(0)" class="nav-link">Khóa học <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-uppercase">Khóa học theo môn</h6>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="megamenu-submenu">
                                                            <li><a routerLink="/courses/toan" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Toán</a></li>

                                                            <li><a routerLink="/courses/ly" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Lý</a></li>

                                                            <li><a routerLink="/courses/hoa" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Hóa</a></li>

                                                            <li><a routerLink="/courses/sinh" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sinh</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col">
                                                        <ul class="megamenu-submenu">

                                                            <li><a routerLink="/courses/ngoai-ngu" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Ngoại ngữ</a></li>

                                                            <li><a routerLink="/courses/van" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Văn</a></li>

                                                            <li><a routerLink="/courses/su" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sử</a></li>
                                                            <li><a routerLink="/courses/dia" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Địa</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <h6 class="text-uppercase">Khóa học theo cấp</h6>
                                                <ul class="megamenu-submenu">
                                                    <li><a routerLink="/courses/cap-1" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Khóa học cấp 1</a></li>

                                                    <li><a routerLink="/courses/cap-2" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Khóa học cấp 2</a></li>

                                                    <li><a routerLink="/courses/cap-3" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Khóa học cấp 3</a></li>

                                                    <li><a routerLink="/courses/dai-hoc" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Luyện thi đại học</a></li>

                                                </ul>
                                            </div>

                                            <div class="col">
                                                <h6 class="text-uppercase">Khóa học theo chuyên đề</h6>
                                                <ul class="megamenu-submenu">
                                                    <li><a routerLink="/courses/toan" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Khóa học nền tảng</a></li>

                                                    <li><a routerLink="/courses/toan" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Khóa học nâng cao</a></li>

                                                    <li><a routerLink="/courses/toan" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Khóa học luyện thi</a></li>

                                                   </ul>
                                            </div>

                                        </div>


                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Trường học <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/school/become-a-student" href="javascript:void(0)" class="nav-link">Học viên <i class='bx bx-chevron-right'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/school/become-a-student" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Trở thành học viên</a></li>

                                        <li class="nav-item"><a routerLink="/school/become-a-freelancer" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Trở thành cộng tác viên</a></li>

                                        <li class="nav-item"><a routerLink="/school/quiz-result" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Thi thử và kết quả thi</a></li>

                                    </ul>
                                </li>
                                
                                <li class="nav-item"><a routerLink="/school/become-a-teacher" href="javascript:void(0)" class="nav-link">Giáo viên <i class='bx bx-chevron-right'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/school/become-a-teacher" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Trở thành giáo viên</a></li>

                                        <li class="nav-item"><a routerLink="/school/teacher-policy" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Chính sách cho giáo viên</a></li>

                                        <li class="nav-item"><a routerLink="/school/teacher" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Danh sách giáo viên</a></li>

                                    </ul>
                                </li>

                                <li class="nav-item"><a routerLink="/school/become-a-partner"  href="javascript:void(0)" class="nav-link">Đối tác <i class='bx bx-chevron-right'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/school/become-a-partner" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Trở thành đối tác</a></li>

                                        <li class="nav-item"><a routerLink="/school/partner" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Đối tác tiêu biểu</a></li>

                                    </ul>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Thư viện <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item"><a routerLink="/success-story" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Học liệu theo chuyên đề</a></li>

                                <li class="nav-item"><a routerLink="/teacher" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Học liệu theo lớp</a></li>

                                <li class="nav-item"><a routerLink="/gallery" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Video bài giảng miễn phí</a></li>

                               </ul>
                        </li>

                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Khuyến mại <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/events" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Promation/Campaign</a></li>

                                <li class="nav-item"><a routerLink="/single-events" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Chính sách khuyến mãi</a></li>
                                <li class="nav-item"><a routerLink="/single-events" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Combo</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Về chúng tôi <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/products-list-1" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tại sao chọn chúng tôi</a></li>

                                <li class="nav-item"><a routerLink="/products-list-2" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tin tức</a></li>

                                <li class="nav-item"><a routerLink="/cart" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Liên hệ</a></li>

                                <li class="nav-item"><a routerLink="/checkout" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tuyển dụng</a></li>

                            </ul>
                        </li>
                    </ul>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <div class="cart-btn">
                                <a routerLink="/cart"><i class='flaticon-shopping-cart'></i><span>3</span></a>
                            </div>
                        </div>

                        <div class="option-item">
                            <a routerLink="/auth/login" class="default-btn"><i class="flaticon-user"></i>Đăng nhập<span></span></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <form class="search-box">
                        <input type="text" class="input-search" placeholder="Search for anything">
                        <button type="submit"><i class="flaticon-search"></i></button>
                    </form>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <div class="cart-btn">
                                <a routerLink="/cart"><i class='flaticon-shopping-cart'></i><span>3</span></a>
                            </div>
                        </div>

                        <div class="option-item">
                            <a routerLink="/auth/login" class="default-btn"><i class="flaticon-user"></i>Login/Register<span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
